body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

::backdrop {
  background-color: #dce0d9;
  opacity: 0.5;
  }

#container {
    padding: 2em 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
  }

  body{
    background-color: #fbf6ef;
  }

  h1{
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 4em;
    text-align: center;
    
  }

  .card{
    padding: 1em;
    width: 10em;
    height: 15em;
    background-color: #ead7c3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column;
    border-radius: 5%;
    font-size: 1em;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;
    padding-top: 1.2em;
  }

  .btn {
    padding: 0.5em;
    border-radius: 4%;
    transition: filter 0.15s ease-in-out;
    width: 7em;
    background-color: #a4b2bb;
    cursor: pointer;
  }

  p{
    text-align: center;
    padding: 0.7em 0;
    margin: 0;
  }

  #add{
    height: 2.5em;
    width: 7em;
    background-color: #a4b2bb;
    text-align: center;
    cursor: pointer;
    
  }

  .addBook{

    text-align: center;
  }

  /*.validation-block {
    height: 40px;
  }

  .validation-text {
    display: none;
    margin: 0;
    font-size: 13px;
    color: red;
  } */

.green { background:  #dce0d9; }
.red { background: #e18a8294; }

input{
  border: none;
  height: 1.8em; 
  margin: 0.2em;
  font-size: 1em;
}
input:focus{
  outline: none;
  border: 2px solid #99aa8c;
}

input[type='number']:invalid{
color: #d70202; 
}